---
layout: layouts/base.njk
templateEngineOverride: njk, md
---

<div class="section">
  <div class="container">
    <p>
      <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
      <span>{{ pdf }}</span>
      <span>{{ hero }}</span>
    </p>
  </div>
</div>

<main>
  {{ content | safe }}
</main>
