* {
	margin: 0;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	transition: 0.3s;
}

html {
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 20%;
	width: 100%;
	background-color: #FF0000;
}

.content {
	margin-top: 20px;
	margin: 10%;
	text-align: center;
	color: #000000;
}

h1 {
	text-align: center;
	color: #FF0000;
	font-size: 72px;
}

p {
	text-align: center;
	color: #000000;
	font-size: 32px;
	margin-bottom: 50px;
}

a {
	padding: 20px;
	text-decoration: none;
}

.foothover:hover {
	color: #FF8888;
}

.listel-wrap {
	margin: 3%;
}

body {
	width: 100%;
	height: 100%;
}

li {
	list-style-type: none;
}

#headerlogo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 20%;
}

.listel {
	font-weight: bold;
	padding: 2%;
	margin: 2px;
	border: solid 2px #FFFFFF;
	float: right;
}



.menu:hover {
	color: #FF0000 !important;
	background-color: #FFFFFF;

}

.listfooter {
	position: absolute;
	bottom: 30%;
	left: 0px;
}

footer {
	position: fixed;
	bottom: -5%;
	left: 0px;
	height: 20%;
	width: 100%;
	background-color: #222;
	color: #444;
	font-size: 26px;
}



/*SOCIAL ICONS FROM https://codepen.io/ameyraut/pen/yfzog
/*Change icons size here*/

.social-icons .fa {
	font-size: 1.6em;
	padding: 5px;
}

/*Change icons circle size and color here*/

.social-icons .fa {
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
	border-radius: 50%;
}

.social-icons .fa-facebook,
.social-icons .fa-facebook-square {
	background-color: #3C599F;
	position: absolute;
	bottom: 30%;
	right: 100px;
}


.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
	background-color: #32CCFE;
	position: absolute;
	bottom: 30%;
	right: 20px;
}

.black {
	color: black;
}

.contentcontact {
	position: relative;
	bottom: -350px;
	left: 50%;
	transform: translate(-50%, -50%);
}
