---
layout: default
title: Pagina niet gevonden!
permalink: 404.html
hidden: true
---

<main>
    <div class="section">
        <div class="container">
            <h1>{{ title }}</h1>
            <a href="{{ navigation.home.url }}" class="btn-large waves-effect waves-light color-primary--background">
                Terug naar Home
            </a>
        </div>
    </div>
</main>
