---
layout: default
title: Copyright
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="header center">Copyright</h2>
                <h4 class="color-primary">Copyright (©)</h4>
                <p>
                    Deze website geniet auteursrechtelijke bescherming. Deze
                    website is bestemd voor eigen of intern gebruik van onze
                    organisatie, gerelateerde dochterondernemingen en/of onze
                    (potentiële) klanten, waarbij het niet is toegestaan de
                    website of een gedeelte daarvan te verveelvoudigen anders
                    dan door het downloaden en bekijken daarvan op een enkele
                    computer, en/of het printen van een enkele (hard)copy.
                    <br/><br/>
                    Zonder schriftelijke voorafgaande toestemming van
                    {{ site.name }} is het niet toegestaan deze website of
                    onderdelen daarvan, zoals foto’s, video’s, logo’s en/of
                    teksten, op andere wijze te verveelvoudigen, door te
                    kopiëren. te zenden of beschikbaar te stellen op een (ander)
                    netwerk.
                    <br/><br/>
                    Het is ook niet toegestaan deze website of een gedeelte
                    daarvan te framen.
                </p>
                <h4 class="color-primary">Merken</h4>
                <p>
                    Alle woord- en beeldmerken op deze website zijn eigendom van
                    {{ site.name }} of in bruikleen gegeven aan
                    {{ site.name }}, tenzij anders aangegeven. Zonder
                    schriftelijke voorafgaande toestemming van TechAssistants
                    Soest is het niet toegestaan gebruik te maken van deze
                    merken.
                </p>
                <h4 class="color-primary">Informatie op de website</h4>
                <p>
                    Deze website is bestemd voor het verstrekken van informatie
                    aan onze (potentiële) klanten.
                    <br/><br/>
                    Op deze website kunnen interactieve pagina’s aangeboden
                    worden zoals reviews van klanten en FAQ’s. TechAssistants
                    Soest is niet verantwoordelijk voor meningen en boodschappen
                    die door bezoekers/gebruikers op de website geplaatst zijn,
                    en deze meningen en boodschappen geven niet de mening of het
                    beleid van {{ site.name }} weer.
                </p>
                <b>{{ site.name }}</b>
                <br/>
                {{ site.contact.address }}
            </div>
        </div>
    </div>
</div>
