---
layout: default
title: Home
---

<div class="section">
    <div class="container">
        <img src="{{ site.images.header }}" alt="Header || {{ site.name }}" class="responsive-img"/>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l7">
                <h2 class="header">Wie zijn wij</h2>
                <p class="flow-text">
                    Wij zijn de jeugd van tegenwoordig. We zijn een jong bedrijf bestaand uit drie scholieren van Het Baarnsch Lyceum met een passie voor computers. Onze namen zijn Luca Castelnuovo, Brian van Meggelen en Victor Lampe.
                    <br/>
                    <a href="{{ navigation.overOns.url }}">Lees Meer</a>
                </p>
            </div>
            <div class="col s12 l5 hide-on-med-and-down center">
                <h4 class="color-primary bolder">{{ site.slogan }}</h4>
                <a href="{{ navigation.afspraakMaken.url }}"><img src="{{ site.images.garantie }}" alt="Oplosgarantie || {{ site.name }}" class="responsive-img"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l7">
                <h2 class="header">Waar kunt u hulp bij vragen?</h2>
                <p class="flow-text">
                    Heeft u moeite met computers, tablets, smartphones, TV, WiFi , internet? Heeft u andere technische vragen? Bel of mail ons gerust. Wij komen bij u langs om uw vragen te beantwoorden en uw probleem op te lossen.
                    <br/>
                    <a href="{{ navigation.overOns.url }}">Lees Meer</a>
                </p>
            </div>
            <div class="col s12 l5">
                <h4>Contact formulier</h4>
                <div class="row">
                    <div id="thankyou_message" style="display:none;" class="col s12">
                        <h6 class="btn-small disabled">
              Uw bericht is verstuurd!
            </h6>
                    </div>
                    <div id="email_invalid" style="display:none;" class="col s12">
                        <h6 class="btn-small disabled">
              Ongeldig email adres!
            </h6>
                    </div>
                    <div id="submission_invalid" style="display:none;" class="col s12">
                        <h6 class="btn-small disabled">
              Probeer AUB opnieuw!
            </h6>
                    </div>
                </div>
                <form name="contact" method="POST" action="/" data-netlify-recaptcha="true" data-netlify="true">
                    <div class="row">
                        <div class="input-field col s12 l6">
                            <input id="name" type="text" name="name" required/>
                            <label for="name">Naam</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <input id="email" type="email" name="email" required/>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="message" class="materialize-textarea" name="message" required></textarea>
                            <label for="message">Bericht</label>
                        </div>
                    </div>
                    <div class="row">
                        <div data-netlify-recaptcha="true"></div>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light color-primary--background">
                            Verstuur<i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
