---
layout: default
title: Over Ons
---

<div class="section">
    <div class="container">
        <img
            src="/images/header.jpg"
            alt="Header || {{ site.name }}"
            class="responsive-img"
/>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l8">
                <h2 class="header">Wie zijn wij</h2>
                <p class="flow-text">
                    Wij zijn de jeugd van tegenwoordig. We zijn een jong bedrijf
                    bestaand uit drie gemotiveerde scholieren van Het Baarnsch
                    Lyceum met een passie voor computers. Onze namen zijn Luca
                    Castelnuovo, Brian van Meggelen en Victor Lampe.
                </p>
                <p class="flow-text">
                    Omdat we door onze omgeving regelmatig gevraagd worden om
                    technisch problemen op te lossen, hebben we besloten om
                    {{ site.name }} op te richten. Zo kunnen we meer mensen
                    helpen en zakgeld verdienen. Dankzij het project
                    <a href="http://zomerondernemer.nl/">“ZomerOndernemer”</a>
                    hebben wij ook over de bedrijfskundige kant van een eigen
                    bedrijf geleerd.
                </p>
                <p class="flow-text">
                    Van jongs af aan zijn we geïnteresseerd in moderne techniek.
                    De meeste apparaten zoals computers, tablets, smartphones en
                    routers kennen voor ons geen geheimen. En wat we niet weten,
                    zoeken we uit.
                </p>
                <p class="flow-text">
                    Ons kennis en vaardigheden breiden we dagelijks uit en
                    willen we graag met u delen.
                </p>
                <h2 class="header">Wat doen wij</h2>
                <p class="flow-text">
                    Moderne techniek verandert bijna dagelijks. Het is lastig om
                    al die veranderingen bij te houden. De jeugd van
                    tegenwoordig ({{ site.name }}) groeit op met nieuwe
                    ontwikkelingen. Wij vinden het een uitdaging om uit te
                    zoeken wat nieuw is en wat je er mee kan.
                </p>
                <p class="flow-text">
                    Maar dat is niet voor iedereen zo. Niet iedereen heeft de
                    tijd en het geduld om uit te vinden wat verandert.
                </p>
                <p class="flow-text">
                    Daar komen wij u bij te hulp.
                </p>
                <p class="flow-text">
                    Heeft u moeite met computers, tablets, smartphones, TV, WiFi
                    of internet? Wilt u uitleg over whatsapp, skype en facetime
                    voor meer contact met uw (klein-)kinderen? Of heeft u andere
                    technische vragen? Bel of mail ons gerust. Wij komen bij u
                    langs om uw vragen te beantwoorden en uw probleem op te
                    lossen.
                </p>
                <p class="flow-text">
                    Zodat mensen van alle leeftijden eenvoudig en met plezier
                    hun apparaten kunnen bedienen. Vandaag weten, morgen
                    vergeten? Geen probleem. We beginnen gewoon opnieuw.
                </p>
            </div>
            <div class="col s12 l4 hide-on-med-and-down">
                <img
                    src="/images/team/luca.jpg"
                    alt="Luca Castelnuovo || {{ site.name }}"
                    class="responsive-img tooltipped"
                    data-position="right"
                    data-tooltip="Luca Castelnuovo"
/>
                <img
                    src="/images/team/team.jpg"
                    alt="Het Team || {{ site.name }}"
                    class="responsive-img tooltipped"
                    data-position="right"
                    data-tooltip="Het Team"
/>
                <img
                    src="/images/team/brian.jpg"
                    alt="Brian van Meggelen || {{ site.name }}"
                    class="responsive-img tooltipped"
                    data-position="right"
                    data-tooltip="Brian van Meggelen"
/>
                <img
                    src="/images/team/victor.jpg"
                    alt="Victor Lampe || {{ site.name }}"
                    class="responsive-img tooltipped"
                    data-position="right"
                    data-tooltip="Victor Lampe"
/>
            </div>
        </div>
    </div>
</div>
