---
layout: default
title: Privacy Beleid
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="header">Privacy beleid {{ site.name }}</h2>

                <p>
                    <b>Wij respecteren de privacy van alle gebruikers van onze
                        website, ons platform en onze diensten, en dragen er
                        zorg voor dat de persoonlijke informatie die je ons
                        verschaft vertrouwelijk wordt behandeld.</b
                    >
                </p>

                <p>
                    Verwerking van de persoonlijke gegevens gebeurt op een
                    wijze, die in overeenstemming is met de eisen die de
                    Algemene Verordening Gegevensbescherming (AVG, 25 mei 2018)
                    stelt.
                </p>

                <p>
                    Wij zullen jouw gegevens nooit beschikbaar stellen aan
                    derden of gebruiken voor andere (commerciële) doeleinden,
                    dan die behoren bij de aard van onze dienstverleningen,
                    zonder dat wij daar specifieke toestemming van jou voor
                    ontvangen hebben.
                </p>

                <p>
                    Ons privacy beleid maakt onderdeel uit van onze Algemene
                    Voorwaarden en zijn beide van toepassingen op alle services,
                    en ondersteuning daarvan, die wij aanbieden.
                </p>

                <h3>Wat doen wij met jouw gegevens?</h3>

                <p>
                    Wij houden van duidelijkheid en transparantie. Daarom laten
                    wij jou graag weten welke persoonlijke gegevens wij van jou
                    bewaren, wat het doel ervan is en hoe lang wij deze
                    persoonlijke gegevens bewaren. In onderstaand overzicht vind
                    je dit duidelijk terug.
                </p>

                <h3>Doel</h3>

                <p>
                    Om je de best mogelijke service te kunnen bieden en je
                    optimaal van onze diensten gebruik te kunnen laten maken,
                    hebben wij een aantal persoonlijke gegevens van je nodig.
                </p>

                <p>
                    Wij bewaren en gebruiken uitsluitend persoonlijke gegevens
                    die rechtstreeks (mondeling, schriftelijk en digitaal) aan
                    ons worden opgegeven of waarvan bij opgave duidelijk is dat
                    ze aan ons worden verstrekt.
                </p>

                <p>
                    We gebruiken jouw persoonlijke gegevens alleen voor het doel
                    waarvoor deze aan ons zijn verstrekt en voor marketing- of
                    servicedoeleinden die betrekking hebben op onze
                    dienstverleningen of voor zover daar toestemming voor is
                    verleend.
                </p>

                <p>
                    Wij zijn continu bezig met het optimaliseren van onze
                    services, en de ondersteuning daarvan, en zullen de huidige
                    dienstverleningen in de toekomst verder ontwikkelen en/of
                    nieuwe services aanbieden. Deze ontwikkelingen maken wij
                    duidelijk kenbaar op onze website. Indien nodig zal ons
                    privacy beleid hier in de toekomst op aangepast worden. Wij
                    adviseren je dan ook om met enige regelmaat ons privacy
                    beleid te lezen.
                </p>

                <h3>
                    Welke persoonlijke gegevens bewaren wij en met welk doel?
                </h3>

                <p>
                    Wij bewaren de volgende persoonlijke gegevens, met
                    bijbehorend doel:
                </p>

                <table>
                    <tr>
                        <th>Persoonlijke gegevens</th>
                        <th>Doel(en)</th>
                    </tr>

                    <tr>
                        <td>Voorletter(s) en Achternaam</td>
                        <td>HaH, HoA en gepersonaliseerde communicatie.</td>
                    </tr>

                    <tr>
                        <td>Adres</td>
                        <td>HaH en communicatie per post.</td>
                    </tr>

                    <tr>
                        <td>Telefoonnummer(s)</td>
                        <td>HaH, HoA en gepersonaliseerde communicatie.</td>
                    </tr>

                    <tr>
                        <td>E-mailadres</td>
                        <td>
                            Bevestigings-, service-, marketing e-mails en
                            overige gepersonaliseerde communicatie.
                        </td>
                    </tr>

                    <tr>
                        <td>Geboortedatum (niet verplicht)</td>
                        <td>
                            Gepersonaliseerde communicatie en marketing- en
                            servicedoeleinden.
                        </td>
                    </tr>

                    <tr>
                        <td>IP-adressen</td>
                        <td>
                            Gepersonaliseerde communicatie en marketing- en
                            servicedoeleinden.
                        </td>
                    </tr>
                </table>

                <p>
                    <i>HaH: Hulp aan Huis / HoA: Hulp op Afstand.</i>
                </p>

                <h3>Termijn</h3>

                <p>
                    Alle persoonlijke gegevens worden tot drie jaar na
                    beëindiging van de klantrelatie bewaard. Dit met als doel
                    een eventuele terugkeer tot een klantrelatie te
                    vereenvoudigen. Uitgezonderd hierop zijn persoonlijke
                    gegevens die door wet- en regelgeving een ander
                    bewaartermijn geschieden.
                </p>

                <h3>Inzage en correctie</h3>

                <p>
                    Wij kunnen je uiteraard inzicht geven in de persoonlijke
                    gegevens die wij van jou bewaren en deze kun je ook te allen
                    tijde, binnen onze Algemene Voorwaarden, laten corrigeren.
                    Uiteraard verwijderen wij jouw persoonlijke gegevens, zoals
                    gesteld binnen de AVG, als je ons daar specifiek om vraagt.
                </p>

                <p>
                    Je hebt dus het recht om ons te vragen inzage te geven in
                    jouw persoonlijke gegevens, deze te corrigeren of te
                    verwijderen. Dit verzoek kun je indienen door een email te
                    sturen naar
                    <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a> of
                    een brief te sturen naar {{ site.name }}
                    {{ site.contact.address }}. Binnen de wet- en regelgeving van de AVG
                    honoreren wij dit verzoek te allen tijde.
                </p>

                <h3>Beveiliging van jouw persoonlijke gegevens</h3>

                <p>
                    Wij beschermen jouw persoonlijke gegevens zo goed als
                    mogelijk. Zo hebben wij organisatorische maatregelen genomen
                    en passen we technische maatregelen toe om jouw persoonlijke
                    gegevens te beschermen. Houd er echter altijd rekening mee
                    dat geen enkel systeem volledig veilig is. Vanuit het
                    oogpunt van goed vaderschap proberen wij er altijd voor te
                    zorgen dat jouw persoonlijke gegevens die aan ons verstrekt
                    zijn goed beveiligd zijn en niet ongewenst bij derden in
                    handen kunnen komen.
                </p>

                <h3>Cookies</h3>

                <p>
                    Onze website plaatst cookies. Cookies zijn kleine
                    tekstbestanden die door een internetpagina op een pc,
                    tablet, mobiele telefoon of ander digitaal apparaat worden
                    geplaatst. Wij maken gebruik van cookies op onze website
                    onder andere om de werking van onze website en daarmee jouw
                    bezoekervaring te verbeteren, onze website te testen en te
                    verbeteren en door het monitoren van websitebezoek de
                    effectiviteit van onze online marketingcampagnes te meten.
                </p>

                <h3>Links</h3>

                <p>
                    Op onze website kunnen hyperlinks naar websites van andere
                    organisaties staan. Wij dragen geen enkele
                    verantwoordelijkheid met betrekking tot het gebruik van jouw
                    persoonlijke gegevens door deze organisaties. Wij raden aan
                    de privacyregels van de betreffende website goed te lezen.
                </p>
            </div>
        </div>
    </div>
</div>
