---
layout: default
title: Publicaties
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="header">In het nieuws</h2>
            </div>
        </div>
        <div class="row">
            {%- for page in collections.publication -%}
                {# {% set url %}
                {% if 'http' in page.data.url %}
                    {{ page.data.url }}
                {% else %}
                    {{ page.url }}
                {% endif %}
                {% endset %} #}
                {% set url %}{{ page.data.url }}{% endset %}

                <div class="col s12">
                    <div class="card large">
                        <div class="card-image">
                            <a href="{{ url }}">
                                <img
                                    src="{{ page.data.image }}"
                                    alt="{{ page.data.title }}"
                                    class="responsive-img"/>
                                <span class="card-title black-text bolder">{{ page.data.title }}</span>
                            </a>
                        </div>
                        <span class="card-title black-text bolder">
                            {{ page.data.title }} - <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time>
                        </span>
                        <div class="card-action">
                            <a href="{{ url }}" class="btn waves-effect waves-light color-primary--background color-secondary">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>
