---
layout: default
title: Alegemene Voorwaarden
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="header center">
                    Algemene voorwaarden {{ site.name }}
                </h2>
                <b>1. Toepasselijkheid</b>
                <p>
                    1.1 In deze algemene voorwaarden van {{ site.name }}
                    hebben de hierna te noemen termen de volgende betekenis:
                    <br/>a.{{ site.name }}: hierna te noemen {{ site.shortName }}; <br/>b.
                    Voorwaarden: de algemene voorwaarden {{ site.shortName }}; <br/>c. Opdracht:
                    een overeenkomst tussen {{ site.shortName }} en opdrachtgever voor de
                    levering van diensten inclusief de Voorwaarden;
                    <br/>
                </p>
                <p>
                    1.2 De Voorwaarden zijn van toepassing op en maken onderdeel
                    uit van iedere aanbieding en iedere Opdracht.
                </p>
                <p>
                    1.3 Door de opdrachtgever voorgestelde algemene voorwaarden
                    zijn niet van toepassing, worden uitdrukkelijk van de hand
                    gewezen en zijn niet bindend, tenzij en voor zover deze
                    specifiek schriftelijk door {{ site.shortName }} zijn aanvaard.
                </p>
                <p>
                    1.4 Afwijkingen op de Voorwaarden zijn slechts geldig indien
                    deze uitdrukkelijk schriftelijk zijn overeengekomen.
                </p>
                <p>
                    1.5 Indien een of meerdere bepalingen in de Voorwaarden
                    nietig zijn of vernietigd mochten worden, blijven de overige
                    bepalingen van de Voorwaarden geldig en van kracht.
                    Opdrachtgever en {{ site.shortName }} zullen alsdan de nietige of niet
                    afdwingbare bepaling vervangen door één of meerdere nieuwe
                    bepalingen die de inhoud van de oorspronkelijke bepaling zo
                    nauwgezet mogelijk zullen benaderen.
                </p>
                <hr/>
                <b>2. Uitvoering van de Opdracht</b>
                <p>
                    2.1 {{ site.shortName }} zal de Opdracht naar beste inzicht en vermogen
                    uitvoeren. {{ site.shortName }} zal zich hiervoor inspannen, maar geeft geen
                    garantie met betrekking tot het resultaat. Opdrachtgever is
                    ervan op de hoogte dat de werkzaamheden worden uitgevoerd
                    door studenten en dat opdrachtgever te allen tijde verplicht
                    is de tarieven voor de gewerkte uren (inclusief de
                    voorrijkosten, genaamd voorfietskosten) te voldoen, ongeacht
                    het resultaat van de dienstverlening.
                </p>
                <p>
                    2.2 Opdrachtgever draagt er zorg voor dat alle gegevens
                    waarvan {{ site.shortName }} aangeeft dat deze noodzakelijk zijn of waarvan
                    de opdrachtgever redelijkerwijs behoort te begrijpen dat
                    deze noodzakelijk zijn voor het uitvoeren van de Opdracht,
                    tijdig aan {{ site.shortName }} worden verstrekt.
                </p>
                <p>
                    2.3 {{ site.shortName }} is niet aansprakelijk voor schade, van welke aard
                    ook, als gevolg van door de opdrachtgever verstrekte
                    onjuiste en/of onvolledige gegevens.
                </p>
                <p>
                    2.4 Opdrachtgever is ermee bekend dat als gevolg van
                    uitvoering van de opdracht er mogelijk gegevens, informatie
                    en/of documenten dan wel andersoortige data van
                    Opdrachtgever (onherstelbaar) verloren kunnen gaan en/of
                    beschadigd kunnen raken. {{ site.shortName }} maakt, tenzij {{ site.shortName }} dit
                    nadrukkelijk als opdracht heeft geaccepteerd, in de regel
                    geen back-up van voornoemde data van Opdrachtgever op een
                    externe gegevensdrager, en Opdrachtgever is er te allen
                    tijde voor verantwoordelijk dat hij zelf tijdig een
                    deugdelijke back-up c.q. een kopie maakt van zijn data.
                    Behoudens opzet en/of grove schuld aan de zijde van {{ site.shortName }} is
                    {{ site.shortName }} niet aansprakelijk voor schade van Opdrachtgever als
                    gevolg van het verloren gaan dan wel beschadigd raken van
                    data van Opdrachtgever.
                </p>
                <p>
                    2.5 Indien {{ site.shortName }} en opdrachtgever zijn overeengekomen dat de
                    Opdracht in fasen zal worden uitgevoerd, kan {{ site.shortName }} de
                    uitvoering van die onderdelen die tot een volgende fase
                    behoren opschorten tot dat opdrachtgever zijn
                    betalingsverplichtingen ter zake de daaraan voorafgaande
                    fase volledig is nagekomen.
                </p>
                <p>
                    2.6 Opdrachtgever garandeert dat hij of zij de eigenaar van
                    het product is ten aanzien waarvan de diensten worden
                    geleverd en geen gebruik maakt van illegaal verkregen
                    software en/of materialen. Opdrachtgever vrijwaart {{ site.shortName }} voor
                    eventuele aanspraken van derden in verband daarmee, alsmede
                    in verband met de uitvoering van de Opdracht.
                </p>
                <p>
                    2.7 De geleverde diensten zullen uitsluitend verricht worden
                    op het adres, welke bij het aangaan van het lidmaatschap
                    door de klant is opgegeven.
                </p>
                <p>
                    2.8 Bij het aantreffen van onrechtmatigheden bij
                    opdrachtgever zal {{ site.shortName }} te allen tijde melding doen bij de
                    daarvoor geldende instantie(s).
                </p>
                <p>
                    2.9 Werkgeversgezag, toezicht en leiding met betrekking tot
                    de werkzaamheden die worden uitgevoerd door de werknemers
                    van {{ site.shortName }} berust bij {{ site.shortName }}. Opdrachtgever komt in dit verband
                    nadrukkelijk geen instructiebevoegdheid toe.
                </p>
                <hr/>
                <b>3. Wijziging van de Opdracht</b>
                <p>
                    3.1 Indien {{ site.shortName }} en opdrachtgever een wijziging of aanvulling
                    van de Opdracht overeenkomen, kan het tijdstip van
                    voltooiing van de Opdracht wijzigen. {{ site.shortName }} zal opdrachtgever
                    hiervan op de hoogte stellen.
                </p>
                <p>
                    3.2 Tijdsinschattingen van {{ site.shortName }} zijn slechts indicaties
                    waaraan geen rechten kunnen worden ontleend.
                </p>
                <hr/>
                <b>4. Klachten</b>
                <p>
                    4.1 Klachten over de geleverde diensten dienen door
                    opdrachtgever zo spoedig mogelijk, doch uiterlijk binnen 48
                    uur na voltooiing van de betreffende Opdracht per brief, per
                    e-mail of per online contactformulier op de website, te
                    worden gemeld aan {{ site.shortName }}.
                </p>
                <hr/>
                <b>5. Betaling en annulering</b>
                <p>
                    5.1 {{ site.shortName }} is gerechtigd het totale verschuldigde bedrag af te
                    schrijven door middel van de door de opdrachtgever afgegeven
                    machtiging.
                </p>
                <p>
                    5.2 Betaling anders dan door middel van de door {{ site.shortName }}
                    aangegeven betalingsmethodes is niet mogelijk.
                </p>
                <p>
                    5.3 Indien {{ site.shortName }} incassomaatregelen moet treffen tegen de
                    opdrachtgever, is de opdrachtgever naast de wettelijke
                    (handels)rente ook de wettelijke incassokosten verschuldigd.
                </p>
                <p>
                    5.4 Bij annulering van de Opdracht binnen 48 uur
                    voorafgaande aan de geplande uitvoering, is opdrachtgever de
                    voorfietskosten en een uur het geldende tarief verschuldigd.
                </p>
                <p>
                    5.5 Bij gedeeltelijke uitvoering van de Opdracht is
                    Opdrachtgever aan {{ site.shortName }} een evenredige vergoeding
                    verschuldigd.
                </p>
                <hr/>
                <b>6. Tarieven</b>
                <p>6.1 Alle door {{ site.shortName }} vermelde tarieven zijn inclusief BTW.</p>
                <p>
                    6.2 {{ site.shortName }} heeft te allen tijde het recht de tarieven te
                    wijzigen. Voor de geldende tarieven zie
                    www.ta-soest.nl/afspraak.html.
                </p>
                <hr/>
                <b>7. Verzuim</b>
                <p>
                    7.1 Wanneer de opdrachtgever zijn verplichtingen tegenover
                    {{ site.shortName }} niet, niet tijdig of niet volledig nakomt, is de
                    opdrachtgever zonder nadere ingebrekestelling of andere
                    formaliteiten in verzuim.
                </p>
                <hr/>
                <b>8. Aansprakelijkheid en Vrijwaring</b>
                <p>
                    8.1 {{ site.shortName }} is niet aansprakelijk voor schade van welke aard dan
                    ook onverschillig door welke oorzaak, behoudens in het geval
                    van opzet en/of grove schuld van {{ site.shortName }}. Indien en voor zover
                    op {{ site.shortName }} enige aansprakelijkheid mocht rusten, uit welke
                    hoofde dan ook, is deze aansprakelijkheid te allen tijde
                    beperkt tot 3 maal het factuurbedrag van de Opdracht.
                </p>
                <p>
                    8.2 Opdrachtgever vrijwaart {{ site.shortName }} voor alle aanspraken van
                    derden met betrekking tot rechten van intellectuele eigendom
                    op door opdrachtgever gebruikte of verstrekte materialen of
                    gegevens in verband met de uitvoering van de Opdracht.
                </p>
                <p>
                    8.3 Opdrachtgever is gedurende de uitvoering van de opdracht
                    verplicht zelf ter plekke aanwezig te zijn.
                </p>
                <p>
                    8.4 Het geven van adviezen over aan te kopen software of
                    hardware behoort niet tot de kerntaken van {{ site.shortName }}. Wanneer {{ site.shortName }}
                    aan opdrachtgever gevraagd of ongevraagd een suggestie doet
                    over een aankoop, handelt {{ site.shortName }} niet als tussenpersoon,
                    handelsagent, distributeur, of verkoper van de door
                    opdrachtgever aangekochte software of hardware.
                    Opdrachtgever dient zelf bij de leverancier na te gaan of
                    eventueel aan te kopen software of hardware geschikt is voor
                    het systeem en beoogde gebruik van de opdrachtgever. {{ site.shortName }}
                    verstrekt ter zake geen enkele garantie.
                </p>
                <p>
                    8.5 In verband met kwaliteitscontrole kan communicatie per
                    telefoon of e-mail met medewerkers van {{ site.shortName }} door {{ site.shortName }}
                    gemonitord worden.
                </p>
                <hr/>
                <b>9. Overmacht</b>
                <p>
                    9.1 Geen van de partijen is verantwoordelijk of
                    aansprakelijk voor een vertraging of een tekortkoming in de
                    nakoming van de Opdracht die het gevolg is van overmacht
                    (een niet toerekenbare tekortkoming).
                </p>
                <hr/>
                <b>10. Toepasselijk recht en geschillen</b>
                <p>
                    10.1 De Voorwaarden, de Opdracht en andere opdrachten die
                    voortvloeien uit of in verband staan met de Opdracht zullen
                    uitsluitend worden beheerst door Nederlands recht. Alle
                    geschillen die zich voordoen in verband met de Voorwaarden,
                    een Opdracht of andere opdracht die voortvloeien uit of
                    verband houden met een Opdracht, dienen met uitsluiting van
                    elke andere rechter aan de bevoegde rechter te Utrecht te
                    worden voorgelegd.
                </p>
            </div>
        </div>
    </div>
</div>
