---
layout: default
title: Pagina niet gevonden!
permalink: 404.html
hidden: true
---

<main>
    <article id="container-centre" class="column centre flex-1">
        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p>Sorry, we can't find that page!</p>
            <p>
                <a href="{{ navigation.home.url }}">Take me back to the homepage</a>
            </p>
        </div>
    </article>
</main>
